body {
	background-image:url(../images/dark_wood.png);
	background-size:cover;
	background-attachment:fixed;
	color: #d7d7d7;
}


footer{
	color: #a9a9a9;
}

.well {
	background: rgba(124, 138, 148, 0.64);
}

.jumbotron {
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
}


/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}